{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/dersler.css">
{% endblock %}
{% block content %}
<div class="container">
    <h2>2. Ünite: Karekök & Veri Analizi</h2>
    <ul class="ders-list">
        <li class="ders-item"><a class="ders-btn" href="/karekok/">
            <span class="unit-title">Karekök</span>
            <span class="unit-fun">Kareköklü Macera!</span>
        </a></li>
        <li class="ders-item"><a class="ders-btn" href="/veri-analizi/">
            <span class="unit-title">Veri Analizi</span>
            <span class="unit-fun">Veri Dedektifleri!</span>
        </a></li>
    </ul>
</div>
{% endblock %}
