{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/dersler.css">
{% endblock %}
{% block content %}
<div class="container" style="max-width:1200px; margin:0 auto; font-size:1.15em;">
    <h2>Karekök Föyler</h2>
    <ul class="ders-list">
        <li class="ders-item"><a class="ders-btn" href="/matematik/karekok_tamkare/">
            <span class="unit-title">Köklü İfadeler: Tam Kare Sayılar ve Tam Kare Olmayan Sayılar</span>
            <span class="unit-fun">Karelerin Gizli Dünyası!</span>
        </a></li>
        
        <li class="ders-item"><a class="ders-btn" href="/matematik/karekok_akokb/">
            <span class="unit-title">Karekök İçindeki İfadeyi A Kök B Şeklinde Yazma</span>
            <span class="unit-fun">Köklerin Sihirli Dönüşümü!</span>
        </a></li>
        <li class="ders-item"><a class="ders-btn" href="/matematik/karekok_carpma_bolme/">
            <span class="unit-title">Karekök Sayılarda Çarpma ve Bölme</span>
            <span class="unit-fun">Köklerle Süper Güçlü İşlemler!</span>
        </a></li>
        <li class="ders-item"><a class="ders-btn" href="/matematik/karekok_toplama_cikarma/">
            <span class="unit-title">Karekök İfadelerde Toplama ve Çıkarma</span>
            <span class="unit-fun">Kökler Arası Yarış!</span>
        </a></li>
        <li class="ders-item"><a class="ders-btn" href="/matematik/karekok_ondalik/">
            <span class="unit-title">Ondalık İfadeler ve Gerçek Sayılar</span>
            <span class="unit-fun">Sayıların Gerçek Yüzü!</span>
        </a></li>
    </ul>
</div>
{% endblock %}
